html body {
    font-family: Verdana, sans-serif;
    font-size: 13px;
}
h1 {
    font-size: 1.875em;
}
h2 {
    font-size: 1.075em;
}
#spelen{
    width:20%;
}
#board {
    width: 275px;
    height: 100%;
    padding:50px;
    text-align: center;
}
#messages {
    position: absolute;
    background: #e3f7fc ;
    top: 2%;
    padding: .2em;
    border:1px solid #8ed9f6;
    border-radius: 4px;
}
#regels {
    padding: 9.5px;
    line-height: 1.4;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#spelerlijst{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.speler1 {
    border: 2px solid blue;
}
.speler2 {
    border: 2px solid red;
}
.pit {
    border-radius: 25px;
    height: 25px;
    width: 25px;
    display:inline-block;
    margin:  1px 0px 1px 0px;

}
.bigpit {
    height: 56px;
}
.left {
    float: left;
}
.right {
    float: right;
}

/*box met pijlen voor verschil informatie*/
.p1pit {
    margin-left: -148px !important;
}
.p2pit {
    margin-left: 103px !important;
    margin-top: 70px !important;
}
.arrow_box_top {
    position: absolute;
    margin-left: -27px;
    margin-top: 40px;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}
.arrow_box_top:after, .arrow_box_top:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.arrow_box_top:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box_top:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 16px;
    margin-left: -16px;
}

.arrow_box_bottom {
    position: absolute;
    margin-top: -35px;
    margin-left: -25px;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}
.arrow_box_bottom:after, .arrow_box_bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.arrow_box_bottom:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box_bottom:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 16px;
    margin-left: -16px;
}